body{
	background-image :url("image/a.jpg");
    background-size: cover;
    font-family: tahoma;
}

.from{
	width:  500px;
    margin:110px auto;
    background-color: rgba(0,0,0,.3);
    padding: 20px;
    border-radius: 25px;
}
.from input{
	display: block;
	width: 100%;
	font-size: 17px;
	margin :3px;
	 border-radius:10px;
	 background: transparent;
	 color: blue;
	 border:1px solid yellow;
}
.from label{
	color: #fff;
	font-size: 20px;
	display: block;
	padding: 5px 0px;
}
.from input[type="submit"]{
	width: 200px;
	color: #fff;
	display: block;
	margin-top: 10px;
}
.from p{
	color: #fff;
	font-size: 20px;
}
.from p a{
	color: yellow;
	font-size: 25px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

   
