.o{
   width: 670px;
   height: 400px;
   border : width:1px ;
   background-color:green;
   margin: 50px auto;
   overflow: hidden;
   position: relative;
}
.i{
	width: 250px;
   height: 250px;
   border-radius:50%;
   background-color:red;
 //  margin: 60px auto;
 //  overflow: hidden;
  position: absolute;
  bottom: 0;
  top: 0px;
  right: 0px;
  left: 0;
  margin: auto;


}
.i img{
	width: 60%;
//	margin: 32px auto;
	display: block;
    position: absolute;
  bottom: 0;
  top: 0px;
  right: 0px;
  left: 0;
  margin: auto;

}