h1{
	color :green;
	background: red;
	text-align: center;
	display: inline;
}
b{
	color: blue;
	background: pink;
	font-size: 30px;
	text-align: center;
	display: block;
	text-decoration: underline;
	font-style: italic;

}
h2.a{	color: blue;
}
h2.b{
	color: green;
}